<p>You are trying to force submission of samples which have no associated barcode information. Please provide a reason
    for doing so, either from the dropdown list, of from by entering the reason
    in the textbox provided.</p>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Reason for Forcing Submission</label>
        <select class="form-control" id="dd_reason">
            <option>Sample will not be barcoded.</option>
            <option>Sample could not be barcoded.</option>
            <option value="other">Other, please specify</option>
        </select>
    </div>
    <div class="form-group">
        <label for="txt_box_other_reason">Other Reason</label>
        <textarea id="txt_box_other_reason" class="form-control" rows="2" disabled></textarea>
    </div>

</form>

