{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags_orcid %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/orcid_profile.css' %}"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}


{% block title_block %} Index {% endblock %}

{% block tagline_block %}
    {% block content %}
        {{ latest_message }} : {{ created }}
    {% endblock %}

{% endblock %}
