.section_title:hover {
    color: #4183c4;
    text-decoration: underline;
}

/*Overide datatables CSS*/
.dataTables_wrapper
.dataTables_paginate
.paginate_button {
    padding: 5px 5px 0px 0px !important; /*top | right | bottom | left*/
}

/* Override CSS for .card and .card-body CSS*/
.statistics_card {
    padding: 95px 2rem 0px 2rem !important;
}

.gal_inspection_card {
    padding: 5px 2rem 0px 2rem !important;
}

.tol_inspect_card {
    padding: 31px 2rem 0px 2rem !important;
}

.gal_worldwide_view_card {
    padding: 0px 2rem 0px 2rem !important;
}