/*.fuelux .modal-body .wizard > .actions {*/
/*    z-index: 1000;*/
/*    position: initial !important;*/
/*    right: 0px;*/
/*    top: auto;*/
/*    bottom: 0px !important;*/
/*    line-height: 46px;*/
/*    float: right;*/

/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*    padding-bottom: 15px;*/
/*    vertical-align: middle;*/
/*    background-color: transparent !important;*/
/*    border: none !important;*/
/*    !*border-top: 1px solid #e9ecef !important;*!*/
/*    border-radius: 0px 4px 0px 0px;*/
/*}*/
.hoverTable {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.hoverTable tr:hover {
    background-color: #D6EEEE;
}

.truncateLongTexts {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
    width: 250px
}

/*.hoverTable tr {*/
/*    margin-bottom: 50px;*/
/*}*/

/* Center contents within a table*/
.table {
    text-align: center;
}
