{% load static %}
<div class="grid">
    <div class="copo-records-panel" profile_type="{{ profile.type }} ">
        <!--Panel -->
        <div class="panel">
            <!--Panel heading -->
            <div class="panel-heading" style="background-color: {{ profile.heading_bgColour }}">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                        <span id={{ profile.id }} class=showEllipsisFor1TextLine>{{ profile.title }}&nbsp;<small>{{ profile.title_smallText }}</small></span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 row-ellipsis" title="View profile options">
                        <div id="{{ profile.id }}" class="pull-right ellipsisDiv">
                            <i id="ellipsisID" class="fa fa-ellipsis-v" data-toggle="popover"
                               data-html="true" role="button"
                               title='<i id="popoverCloseBtn" class="fa fa-times pull-right"></i>'></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--Panel body -->
            <div class="grid-panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12"
                         style="height:fit-content;">
                        <!--Panel content -->
                        <div class="boldText">Created:</div>
                        <div style="margin-bottom: 10px;">{{ profile.date_created }}</div>
                        <div class="boldText">Description:</div>

                        {% if profile.associated_type %}
                            <div class="showEllipsisFor2TextLines associatedTypes_marginBottom profileDescription">
                                {{ profile.description }}</div>
                            <div class="associated_type_div_label" style="display: block;">
                                Associated
                                Profile Type(s):
                            </div>

                            <div class="associated_type_div_value {% if profile.associated_type|length == 1 %}one_associatedType_marginBottom {% elif profile.associated_type|length == 2 %}two_associatedTypes_marginBottom {% elif profile.associated_type|length == 3 %}three_associatedTypes_marginBottom {% else %}several_associatedTypes_marginBottom {% endif %}">
                                <ul class="associated_type_ulTag">
                                    {% for element in profile.associated_type_elements %}
                                        <li>  {{ element.acronym }}
                                            <i class="fa fa-info-circle associated_type_info_icon"
                                               title="{{ element.associated_type }}"></i>
                                        </li>

                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="showEllipsisFor2TextLines profileDescription {% if profile.description.strip|length < 52 %}no_associatedTypes_marginBottom{% elif profile.description.strip|length >= 52 %}no_associatedTypes_marginBottom_2LineDescriptionText{% endif %}">
                                {{ profile.description }}</div>
                        {% endif %}
                        <!--Panel expanding menu -->
                        <span class="ui vertical menu expanding_menu" id="expanding_menu">
                            <div class="ui left pointing dropdown link item" tabindex="0">
                                Actions
                                <i class="dropdown icon"></i>
                                <div class="menu" tabindex="-1">
                                    <a class="item action" profile_component="stand-alone" anchor_type="files" data-action_type="files">Upload Files</a>                                   
                                    <a class="item action" profile_component="stand-alone" anchor_type="reads" data-action_type="reads">Submit Reads</a>
                                    <a class="item action" profile_component="stand-alone" anchor_type="assembly" data-action_type="assembly">Submit Assembly</a>
                                    <a class="item action" profile_component="stand-alone" anchor_type="seq_annotation" data-action_type="seq_annotation">Submit Annotation</a>
                                    <a class="item action" profile_component="dtol" anchor_type="dtol_option" data-action_type="dtol">Submit DTOL/ASG manifest</a>
                                    <a class="item action" profile_component="dtol" anchor_type="erga_option" data-action_type="erga">Submit ERGA Manifest</a>
                                </div>
                            </div>
                            <div class="ui left pointing dropdown link item" tabindex="0">
                                Components
                                <i class="dropdown icon"></i>
                                <div class="menu comp" tabindex="-1"></div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
